<ul class="nav navbar-nav navbar-right">
  <li class="dropdown mt-2 me-5">
    <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <h2 class="align-items-center"><i class="fa-solid fa-cart-shopping" style="color: #FF3130;"></i></h2>
      <p class="nav-cart"><%= @quantity %></p>
    </a>
    <ul class="dropdown-menu dropdown-cart" role="menu">
      <% if  @cart.order_items == [] %>
        <li class="text-center">
          <div class="lottie-class d-flex justify-content-center text-center pb-2">
            <lottie-player src="https://res.cloudinary.com/dyv1blw2a/raw/upload/v1688301650/43012-screaming-fear-face_yvgljg.json" background="transparent" speed="1"
            style="width: 45%; height: 45%;" loop autoplay></lottie-player>
          </div>
          <span class="text-center">Oupsssss...</span>
        </li>
        <li class="text-center pb-2"><span class="text-center">Looks like you cart is empty !</span></li>
        <li>
          <li class=" divider btn-cart m-2 text-center"><%= link_to 'Start Shopping', products_path, class: "btn-tag"%></li>
        </li>
      <% else %>
        <% @cart.order_items.each do |order_item| %>
          <li>
            <span class="item pb-2">
              <span class="item-left">
                <%= cl_image_tag order_item.product.photo.key, height: 50, width: 50, crop: :fill, :effect=>"improve:outdoor" %>
                <span class="item-info">
                  <span><%= order_item.product.title %> x <%= order_item.quantity %></span>
                  <span >Rs <%= order_item.total_price %></span>
                </span>
              </span>
            </>
          </li>
        <% end %>
        <li class=" divider btn-cart pt-2 m-2" style="text-align: center;">Total : Rs <%= number_with_delimiter(@cart.total_price.to_i, delimiter: "’") %></li>
        <li class=" divider btn-cart pt-2 m-2"><%= link_to 'Checkout', cart_path, class: "btn-tag"%></li>
      <% end %>
    </ul>
  </li>
</ul>
