<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand me-4 ps-2" href="/">
      <%# <img src="	http://localhost:3000/assets/logo-5086acf903bfff68…63734ac6d56d7561154ca90d7487112011d7fee0e79cc.png" alt="logo"
        style="width: 80px;" class="ms-2 rounded-3"> %>
      <%= image_tag "logo.png", class: "ms-2 rounded-3", style: "width: 80px;" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item active me-3">
          <a class="nav-link" href="/">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/orders">My Orders</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex me-5">
        <%= form_with url: products_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Keyword"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-warning form-button" %>
        <% end %>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown mt-2 me-5">
          <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h2 class="align-items-center"><i class="fa-solid fa-cart-shopping" style="color: #FF3130;"></i></h2>
          </a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
            <% if  @cart.order_items == [] %>
              <li>
                <span class="item-left">Your cart is empty</span><h4>  😱</h4>
              </li>
              <li>
                <li class=" divider btn-cart m-2"><%= link_to 'Find products', products_path, class: "btn-tag"%></li>
              </li>
            <% else %>
              <% @cart.order_items.each do |order_item| %>
                <li>
                  <span class="item pb-2">
                    <span class="item-left">
                      <%= cl_image_tag order_item.product.photo.key, height: 50, width: 50, crop: :fill, :effect=>"improve:outdoor" %>
                      <span class="item-info">
                        <span><%= order_item.product.title %> x <%= order_item.quantity %></span>
                        <span >Rs <%= order_item.total_price %></span>
                      </span>
                    </span>
                  </>
                </li>
              <% end %>
              <li class=" divider btn-cart pt-2 m-2"><%= link_to 'Checkout', cart_path, class: "btn-tag"%></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown me-2 pe-2">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar", alt: "dropdown menu", style: "width: 60px;" %>
              <% else %>
              <%= image_tag "avatar.png", class: "avatar", alt: "dropdown menu", style: "width: 60px;" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", "/users/edit", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item pe-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

</nav>
