<% if @section.banner.attached? %>
  <div class="slider-wrapper">
    <div class="slider">
      <%= cl_image_tag @section.banner.key, crop: :fill,  class:"slider1-img"%>
    </div>
  </div>
<% end %>

<div class="homepage">
  <div class="container">
    <p class="fs-1"><%= @section.title %></p>
  </div>
</div>
<div class="container">
  <div class="cards-products">
    <% @products.each do |product| %>
      <% if @section.id == product.section_id %>
        <%= link_to section_product_path(@section, product), class:"text-decoration-none" do %>
          <div class="card">
            <%= cl_image_tag product.photo.key, crop: :fill,  class:"cards-img"%>
            <div class="card-body">
              <h6 class="card-title"><%= product.title %></h6>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
