<div class="homepage">
  <div class="container">
    <p class="fs-1">Order #<%= @order.oder_number %></p>
  </div>
</div>
<% if @order.is_delivered? %>
  <div class="container">
    <p>Your order was delivered on the <%= @order.updated_at.strftime("%dth %B %y") %> at <%= @order.updated_at.time.strftime("%H:%M") %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <% @order_items.includes([:product]).each do |order_item| %>
        <tr>
          <td><%= cl_image_tag order_item.product.photo.key, height: 100, width: 100, crop: :fill, :effect=>"improve:outdoor" %></td>
          <td class="align-middle"><%= order_item.product.price %></td>
          <td class="align-middle"><%= order_item.quantity %></td>
          <td class="align-middle"><%= order_item.total_price.to_i %></td>
        </tr>
      <% end %>
    </table>
    <p class="fs-3">Total : Rs <%= @order.total_price.to_i %></p>
  </div>

<% else %>
  <div class="container">
    <div class="row">
      <h4>Your order is on the way...</h4>
      <div class="col-6">
        <div class="messages chatroom-map">
          <div style="height: calc(75vh - 75px);"
              data-controller="map"
              data-map-markers-value="<%= @marker.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="chatroom"
          data-controller="chatroom-subscription"
          data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
          <div class="messages" data-chatroom-subscription-target="messages">
            <% @order.chatroom.messages.each do |message| %>
              <div class="message-row d-flex <%= message.user == current_user ? 'justify-content-end' : 'justify-content-start' %>">
                <div class="<%= message.user == current_user ? 'sender-style' : 'receiver-style' %>">
                  <div id="message-<%= message.id %>">
                    <small>
                      <strong><%= message.user.username %></strong>
                      <i><%= message.created_at.strftime("at %l:%M %p") %></i>
                    </small>
                    <p><%= message.content %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%= simple_form_for(@message, url: order_chatroom_messages_path(@order, @chatroom), method: :post) do |f| %>
            <%= f.input :content,
              label: false,
              placeholder: "Say something to Dennis",
              wrapper_html: {class: "flex-grow-1"}, html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}}
            %>
            <%= f.submit "Send", class: "btn btn-chat mb-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p>Order was created on the <%= @order.created_at.strftime("%dth %B %y") %> at <%= @order.created_at.time.strftime("%H:%M") %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <% @order_items.includes([:product]).each do |order_item| %>
        <tr>
          <td><%= cl_image_tag order_item.product.photo.key, height: 100, width: 100, crop: :fill, :effect=>"improve:outdoor" %></td>
          <td class="align-middle"><%= order_item.product.price %></td>
          <td class="align-middle"><%= order_item.quantity %></td>
          <td class="align-middle"><%= number_with_delimiter(order_item.total_price.to_i, delimiter: "’") %></td>
        </tr>
      <% end %>
    </table>
    <p class="fs-3">Total : Rs <%= number_with_delimiter(@order.total_price.to_i, delimiter: "’") %></p>
    <% if current_user.is_admin? %>
      <p>Is the order delivered?</p>
      <%= simple_form_for(@order) do |f| %>
        <button class= "btn btn-outline-success btn-sm"><%= f.button :submit, 'Confirm' %></button>
      <% end %>
    <% end %>
  </div>
<% end %>
