<ul class="breadcrumb">
  <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
  <li><a href="/cart">Cart</a></li>
</ul>
<div class="homepage">
  <div class="container">
    <p class="fs-1">Shopping Cart</p>
  </div>
</div>
<% if @cart.order_items == [] %>
  <div class="lottie-class d-flex justify-content-center text-center pb-2">
    <lottie-player src="https://res.cloudinary.com/dyv1blw2a/raw/upload/v1688301650/43012-screaming-fear-face_yvgljg.json" background="transparent" speed="1"
    style="width: 25%; height: 25%;" loop autoplay></lottie-player>
  </div>
  <div class="container cart-empty">
    <h3>Oupsssss... Looks like you cart is empty !</h3>
    <h4>✌️ Keep cool ✌️</h4>
    <a class="text-center btn-tag2" style="text-align: center" href="/products">Start Shopping</a>
  </div>
<% else %>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th class="td-product">Product</th>
          <th class="td-price">Price</th>
          <th class="td-button-l"></th>
          <th class="td-quantity">Quantity</th>
          <th class="td-button-r"></th>
          <th class="td-price">Subtotal</th>
          <td class="td-btn-update">Update</th>
          <td class="td-cross">Remove</th>
        </tr>
      </thead>
      <% @order_items.includes([:product]).each do |order_item| %>
        <tr data-controller="order-item" data-order-item-price-value=<%= order_item.product.price %> data-order-item-quantity-value=<%= order_item.product.quantity %> style="vertical-align: middle !important;">
          <th class="td-product"><%= cl_image_tag order_item.product.photo.key, height: 100, width: 100, crop: :fill, :effect=>"improve:outdoor" %></td>
          <th class="td-price"><%= order_item.product.price %></td>
          <%= simple_form_for(order_item, url: order_item_path(order_item), method: :put, html: {
                data: {
                  controller: "alert",
                  alert_icon_value: "warning",
                  alert_title_value: "Are your sure?",
                  alert_html_value: "Create new post.",
                  confirm_button_text: "All good!",
                  show_cancel_button: true,
                  cancel_button_text: "Cancel",
                  action: "submit->alert#initSweetalert",
                  turbo: false
                } }) do |f|%>
            <td class="td-button-l"><button class="btn btn-cross" data-action="click->order-item#reduce:prevent"><i class="fa-solid fa-minus" style="color: #213454;"></i></button></td>
            <td class="td-quantity"><%= f.input :quantity, input_html: { value: order_item.quantity, data: {order_item_target: "quantity", action: "change->order-item#test"}, class: "total-price-form", readonly: true }, label: false %></td>
            <td class="td-button-r"><button class="btn btn-cross" data-action="click->order-item#increase:prevent"><i class="fa-solid fa-plus" style="color: #213454;"></i></button></td>
            <td class="td-price"><%= f.input :total_price, label: false, input_html: { value: order_item.total_price.to_i , data: {order_item_target: "totalprice" }, class: "total-price-form", readonly: true} %>
              <%= f.hidden_field :section_id, value: order_item.product.section_id %>
              <%= f.hidden_field :product_id, value: order_item.product_id %>
              <%= f.hidden_field :cart_id, value: @cart.id %></td>
              <td class="td-btn-update"><button type="submit" class="btn btn-cross">
                  <h4><i class="fa-solid fa-arrows-rotate" style="color: #2abc20;"></i></h4>
              </button></td>
            </td>
          <% end %>
          <td class="td-cross" data-controller="alert">
            <%= link_to  order_item_path(order_item), class: "button-arounder button-red", data: { turbo_method: :delete } do %>
              <h3><i class='fa-solid fa-xmark' style='color: #ff3333;'></i></h3>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <p>Subtotal : Rs <%= number_with_delimiter(@subtotal, delimiter: "’")%></p>
    <p>Delivery Fees: Rs 75</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Add a cooler bag (Rs 150)
      </label>
    </div>
    <h2 class="total-cart ">Total : Rs <span id="totalbag" class="not-bold"><%= @total %></span>.00</h2>
    <button class="btn-checkout mt-3" style="text-align: center"><a class="text-center" href="/cart/confirmation">Checkout</a></button>
  </div>
<% end %>
<script>
  var totalBag = parseInt(document.getElementById("totalbag").innerText);
  var checkbox = document.getElementById("flexCheckDefault");
  checkbox.addEventListener('change', (event) => {
    if (checkbox.checked === true) {
      console.log(totalBag);
      totalBag = totalBag + 150;
      document.getElementById("totalbag").innerText = totalBag;
    }
    else {
      totalBag = totalBag - 150;
      document.getElementById("totalbag").innerText = totalBag;
    }
  })
</script>
