<div class="container">
    <h1>Cart</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th></th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= cl_image_tag order_item.product.photo.key, height: 100, width: 100, crop: :fill, :effect=>"improve:outdoor" %></td>
              <td class="align-middle"><%= order_item.product.price %></td>
              <td data-controller="order-item" data-order-item-price-value=<%= order_item.product.price %>>
                <%= simple_form_for(order_item, url: order_item_path(order_item.product), method: :patch) do |f| %>
              </td>
              <td class="align-middle">
                <%= f.input :quantity, input_html: { value: order_item.quantity, data: {order_item_target: "quantity", action: "change->order-item#test"} }, label: false %>
              </td>
              <td class="align-middle">
                <%= f.input :total_price, label: false, input_html: { value: order_item.total_price , data: {order_item_target: "totalprice"}, readonly: true} %>
              </td>
              <td class="align-middle ">
                <button class= "btn btn-outline-success btn-sm"><%= f.button :submit, 'Update' %></button>
              </td>
              <% end %>
              <td class="align-middle">
                <%= link_to "delete", order_item_path(order_item), class: "button-arounder button-red", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this Item from cart?" } %>
              </td>
            </tr>
          <% end %>
