<ul class="breadcrumb">
  <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
  <li><a href="/products">Products</a></li>
</ul>
<div class="homepage">
  <div class="container py-1" data-controller="search-products">
    <div class="row justify-content-center py-2">
      <div class="col-sm-8 my-3">
        <%= form_with url: products_path, method: :get, class: "d-flex", data: {search_products_target: "form"} do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "ki to p roder ?",
                data: {action: "keyup->search-products#update",
                search_products_target: "input"}
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-search form-button" %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center tag-list py-3">
      <% @tags.each do |tag| %>
        <a class="text-center btn-tag2" style="text-align: center" href="/products?query= <%= tag.name %>"><%= tag.name %></a>
      <% end %>
    </div>
    <p class="pb-4 fs-3 pt-2">Products</p>
    <%= render "list", products: @products %>
  </div>
</div>
