<div class="container mt-5">
  <div class="row">
    <div class="col-6 mb-5">
      <%= cl_image_tag @product.photo.key, height: 500, width: 500, crop: :fill %>
    </div>
    <div class="col-6">
      <div>
        <H2><%= @product.title %></H2>
        <div class="mt-4">
          <p>Description :</p>
          <p><%= @product.description %></p>
        </div>
        <div class="mt-2">
          <p>
            Prix : Rs <%= @product.price %>
          </p>
        </div>
        <div class="mt-2" data-controller="order-item" data-order-item-price-value=<%= @product.price %>>
          <%= simple_form_for(@order_item, url: order_items_path(@product), method: :post) do |f| %>
            <%= f.input :quantity, input_html: { value: 1, min: 1, step: 1, data: {order_item_target: "quantity", action: "change->order-item#test"} }, label: 'Quantity' %>
            <%= f.input :total_price, label: 'Total Price', input_html: { value: @product.price , data: {order_item_target: "totalprice"}, readonly: true} %>
            <%= f.hidden_field :section_id, value: @section.id %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.hidden_field :cart_id, value: @cart.id %>
            <%= f.button :submit, 'Add to Cart' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
