<div class="container mt-5">
  <div class="row">
    <div class="col-6 mb-5 card" id="product-card-show">
      <%= cl_image_tag @product.photo.key, height: 500, width: 500, crop: :fill %>
      <div class="img-tags">
        <% @product.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div>
        <H2><%= @product.title %></H2>
        <H3>
          <% if @product.ratings == [] %>
            <div class="container p-0">
              <div class="row">
                <div class="col-5">
                  <i class="fa-regular fa-star" style="color: #ffde0a;"></i>
                  <i class="fa-regular fa-star" style="color: #ffde0a;"></i>
                  <i class="fa-regular fa-star" style="color: #ffde0a;"></i>
                  <i class="fa-regular fa-star" style="color: #ffde0a;"></i>
                  <i class="fa-regular fa-star" style="color: #ffde0a;"></i>
                </div>
                <div class="col-6">
                  <H2 class="fs-6">*No rating yet</H2>
                  <%= link_to new_section_product_rating_path(@section, @product), class:"text-decoration-none ", data: { controller: 'turbo' } do %>
                    <h2 class="fs-6 btn-rating">add a rating</i></h2>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="container p-0">
              <div class="row">
                <div class="col-5">
                  <% @total_rate.each do |star| %>
                    <% if star == "star_fill" %>
                      <i class="fa-solid fa-star" style="color: #ffde0a;"></i>
                    <% elsif star == "star_lefthalf_fill" %>
                      <i class="fa-solid fa-star-half-stroke" style="color: #ffde0a;"></i>
                    <% else star %>
                      <i class="fa-regular fa-star" style="color: #ffde0a;"></i>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-4 p-0 m-0">
                  <% if @sum_rates.size == 1 %>
                    <H2 class="fs-6"><%= @sum_rates.size + 58 %> ratings</H2>
                  <% else %>
                    <H2 class="fs-6"><%= @sum_rates.size * 59 %> ratings</H2>
                  <% end %>
                  <% unless user_signed_in? && @user_rating.include?(current_user.id) %>
                    <%= link_to new_section_product_rating_path(@section, @product), class:"text-decoration-none " do %>
                    <h2 class="fs-6 btn-rating">add a rating</i></h2>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </H3>
        <div class="mt-4">
          <p style="font-weight: 600 !important;">Description :</p>
          <p><%= @product.description %></p>
        </div>
        <div class="mt-2">
          <p>
            <strong style="font-weight: 600 !important;">Prix :</strong> Rs <%= number_with_delimiter(@product.price, delimiter: "’")  %>
          </p>
        </div>
        <% if @product.quantity == 0 %>
          <div class="mt-2">
            <p>
              <strong style="font-weight: 600 !important; color: #EB5757 !important;">Out of stock</strong>
            </p>
          </div>
        <% elsif @product.quantity < 10 %>
          <div class="mt-2">
            <% if @product.quantity == 1 %>
              <p>
                <strong style="font-weight: 600 !important; color: #EB5757 !important;">Only <%= @product.quantity %> product left!</strong>
              </p>
            <% else %>
              <p>
                <strong style="font-weight: 600 !important; color: #EB5757 !important;">Only <%= @product.quantity %> products left!</strong>
              </p>
            <% end %>
          </div>
          <div class="mt-2" data-controller="order-item" data-order-item-price-value=<%= @product.price %>>
            <%= simple_form_for(@order_item, url: order_items_path(@product), method: :post) do |f| %>
              <%= f.input :quantity, input_html: { value: 1, min: 1, max: @product.quantity, step: 1, data: {order_item_target: "quantity", action: "change->order-item#test"} }, label: 'Quantity' %>
              <%= f.input :total_price, label: 'Total Price', input_html: { value: @product.price , data: {order_item_target: "totalprice"}, readonly: true} %>
              <%= f.hidden_field :section_id, value: @section.id %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.hidden_field :cart_id, value: @cart.id %>
              <%= f.button :submit, 'Add to Cart', class: "btn-outline-cart" %>
            <% end %>
          </div>
        <% else %>
          <div class="mt-2" data-controller="order-item" data-order-item-price-value=<%= @product.price %>>
            <%= simple_form_for(@order_item, url: order_items_path(@product), method: :post) do |f| %>
              <%= f.input :quantity, input_html: { value: 1, min: 1, step: 1, data: {order_item_target: "quantity", action: "change->order-item#test"} }, label: 'Quantity', class: "form-product" %>
              <%= f.input :total_price, label: 'Total Price', input_html: { value: @product.price , data: {order_item_target: "totalprice"}, readonly: true} %>
              <%= f.hidden_field :section_id, value: @section.id %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.hidden_field :cart_id, value: @cart.id %>
              <%= f.button :submit, 'Add to Cart', class: "btn-outline-cart" %>
            <% end %>
          </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>
