<div class="container mt-5">
  <div class="row">
    <div class="col-6 mb-5">
      <%= cl_image_tag @product.photo.key, height: 500, width: 500, crop: :fill %>
    </div>
    <div class="col-6">
      <div>
        <H2><%= @product.title %></H2>
        <div class="mt-4">
          <p>Description :</p>
          <p><%= @product.description %></p>
        </div>
        <div class="mt-2">
          <p>
            Prix : Rs <%= @product.price %>
          </p>
        </div>
        <div class="mt-2">
          <%= simple_form_for(OrderItem.new, url: add_item_cart_path(@product), method: :post) do |f| %>
            <%= f.input :quantity, as: :string, input_html: { value: 1, min: 1, step: 1, id: 'quantity-input' }, label: 'Quantity' %>
            <%= f.input :total_price, readonly: true, input_html: { class: 'form-control', id: 'total-price-input' }, label: 'Total Price' %>
            <%= f.button :submit, 'Add to Cart' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
